# Ignore generated CSVs and temp files
DATA/corrosion_full_with_predictions.csv
*.ipynb_checkpoints/
~*.twb
*.tmp

# Keep the main synthetic dataset
!DATA/corrosion_synthetic_timeseries.csv

# Ignore VS Code / OS system files
.vscode/
.DS_Store
Thumbs.db